<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.cyrillrx.tracker.answers"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c26ecfad47d31e58ea1da48a1b8d88273bc11ce" />
    </application>

</manifest>